*.safetensors
*.pth
*.pt
*.bin
*.zip
*.onnx
endoscan_ner_model/
backend/services/weights/
mri_best_model.pt.zip
mri_best_model.zip

.venv/
venv/
__pycache__/
*.pyc
db.sqlite3
.env
*.ipynb
.ipynb_checkpoints/
